@import '../../../styles.scss';

.icon {
    color: $app-light-1;
    &:hover {
        color: $app-dark-1;
    }
    padding-left: 1%;
}

.new-category {
    width: 100%;
    padding-top: 2%;

    .add-icon {
        cursor: pointer;
    }
}

.done {
    text-decoration: line-through;
    color: rgba(0,0,0,.54);
}