

.item-detail {
    display: flex;
    flex-direction: column;

    .action-buttons {
        justify-content: center;
    }

    .done {
        font-size: 20px;
        font-weight: 500;
        align-self: flex-end;
    }

    .true {
        color: #1cb91c;
    }

    .false {
        color: #bb0e0e;
    }
}